* {
  /*essa função aplica as prorpiedades na pagina inteira*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --textColor: white;
  --bgUrl: url(./assets/bg-desktop.jpg);
  --strokeColor: rgba(255, 255, 255, 0.3);
  --surfaceColor: rgba(255, 255, 255, 0.1);
  --colorHover: rgba(255, 255, 255, 0.05);
  --socialColorHover: rgba(255, 255, 255, 0.2);
  --switchButton: url(./assets/moon-stars.svg);
}

.light {
  --textColor: black;
  --bgUrl: url(./assets/bg-desktop-light.jpg);
  --strokeColor: rgba(0, 0, 0, 0.5);
  --surfaceColor: rgba(0, 0, 0, 0.05);
  --colorHover: rgba(0, 0, 0, 0.1);
  --socialColorHover: rgba(0, 0, 0, 0.1);
  --switchButton: url(./assets/sun.svg);
}

body {
  /* background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */

  background: var(--bgUrl) no-repeat top center/cover;
  /*Função que adiciona um fundo oriundo de uma imagem, aqui tambem foi utilizando o shorthand ou atalho, é um atalho para todas as propriedades citadas*/
  height: 100vh;
}

body * {
  font-family: "inter", sans-serif; /*Definição de fonte e cor*/
  color: var(--textColor);
}

#container {
  /*Defini a largura maxima que a caixa que criei tem*/
  width: 100%;
  max-width: 588px;
  margin: 56px auto;
  padding: 0 24px;
}

#profile img {
  width: 112px;
  display: block;
  margin: auto;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding-top: 8px;
}

#switch {
  position: relative;
  width: 64px;
  height: 24px;

  margin: 0 auto;
  padding: 4 px;
}

@keyframes slideIn {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slideOut {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switchButton) no-repeat center;

  border: 0;
  border-radius: 50%;
  transform: translateY(-5px);

  position: absolute;
  z-index: 1;
  left: 0;

  animation: slideOut 0.3s;
}

.light #switch button {
  animation: slideIn 0.3s forwards;
}

#switch button:hover {
  outline: 8px solid var(--socialColorHover);
}

#switch span {
  width: 64px;
  height: 24px;
  background: var(--surfaceColor);

  display: block;
  border: 1px solid var(--strokeColor);
  backdrop-filter: blur(4px);

  border-radius: 9999px;
}

/* Links */
ul {
  /*Estou acessando a lista desordenada*/
  list-style: none; /* Remove as bolinhas */

  display: flex; /*Deixa os elementos lado a lado*/
  flex-direction: column; /*Reorganiza novamente como colunas*/
  gap: 8px; /*Cria um espaço entre os itens, sem adicionar espaço em cima nem em baixo (só funciona em display: flex)*/
  padding: 24px 0;
}

ul li a {
  /*Estou acessando os itens da lista*/
  display: flex; /*Deixa os elementos lado a lado*/
  justify-content: center; /*Alinha as palavras ao centro da caixa*/
  padding: 16px 24px; /*Preenche as laterais da caixa*/

  background-color: var(--surfaceColor); /*Defini um fundo nos botoes*/
  border: 1px solid var(--strokeColor);
  border-radius: 8px;

  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2;
}

ul li a:hover {
  /* pseudo-selector, esta sendo usado para alterar a aparencia do botão quando o mouse for passado em cima*/
   background-color: var(--colorHover);
  border: 1.5px solid var(--textColor);
}

#socialLinks {
  display: flex;
  padding: 24px 0;
  font-size: 24px;

  align-items: center;
  justify-content: center;
}

#socialLinks a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  transition: background 0.2;
  border-radius: 50%;
}

#socialLinks a:hover {
  background-color: var(--socialColorHover);
  padding: 16px;
}

p {
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
}

/* ;@media (min-width: 700px) {
  --root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  } */